{{#each erros}}
  {{! exibindo o erro presente na validação do formulário }}
  <div class="alert alert-sanger">{{texto}}</div>
{{else}}
{{/each}}

<h3>Nova categoria:</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/categorias/nova" method="post">

      <label for="nome">Nome: </label>
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Nomde da categorias"
        class="form-control"
      />
      <label for="slug">Slug: </label>
      <input
        type="text"
        id="slug"
        name="slug"
        placeholder="Slugda categorias"
        class="form-control"
      />
      <br />
      <button type="submit" class="btn btn-success">Criar categoria</button>

    </form>
  </div>
</div>