{{! exibindo msg de error ou sucess na validação do formulário }}
{{#if success_msg}}
  <div class="alert alert-sucess">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-sucess">{{error_msg}}</div>
{{/if}}